#dotenv -f talos.env run gmake pi5

#gmake/gsed required for MacOS
SED="gsed"

#5A PSU; PCIe 3.0; RTC Battery Charging
CONFIG_TXT="usb_max_current_enable=1
dtparam=pciex1
dtparam=pciex1_gen=3
dtparam=rtc_bbat_vchg=3000000
"

#Required for Longhorn CSI
EXTENSIONS="ghcr.io/siderolabs/iscsi-tools:v0.2.0 ghcr.io/siderolabs/util-linux-tools:2.41.3"

#Artifacts must be pushed to a registry during build
# docker run -d -p 5000 --restart always --name local registry:3
REGISTRY=registry:5000
REGISTRY_USERNAME=talos-pi5
